body {
    margin: 0;
    padding: 0;
    background: url('../image/banner7.webp') no-repeat center center/cover;
 
    backdrop-filter: blur(5px); /* Làm mờ nền sau */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

